.top-menu {
    background: #fff;
    box-shadow: 0px 5px 7px rgba(0,0,0,0.1);
}
.top-menu a {
    color: #607D8B;
}
.top-menu a:hover{
    text-decoration: none;
}
.breadcrumb{
    background-color:transparent;
    font-size: 12px;
}
.logo {
    height: 30px;
    float: right;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.sub-menu {
    padding: 5px 20px;
    margin: 0;
    display: block;
    background: #03a9f4;
}
.sub-menu .left-submenu{
    display: inline-block;
}
.sub-menu .right-submenu{
    float: right;
    display: inline-block;
}
.sub-menu .right-submenu a, .sub-menu .left-submenu a{
    color: #ffffff;
    font-size: 11.5px;
    letter-spacing: 1.4px;
    padding: 0 7px;
}
.sub-menu .right-submenu a:hover,
.sub-menu .right-submenu a:focus,
.sub-menu .left-submenu a:hover,
.sub-menu .left-submenu a:focus{
    color: #f8f8f8;
    text-decoration: none;
}

.search-form .form-control{
    border-top-left-radius: 30px!important;
    border-bottom-left-radius: 30px!important;
}
.search-form .form-control:focus{
    box-shadow: none;
}
.search-form .input-group-append .input-group-text {
    background: #03A9F4;
    color: #fff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.btn-icon {
    padding: 19px 0;
    margin: 0;
    text-align: center;
}
.btn-icon i{
    padding: 10px;
}
.btn-icon:hover i{
    color: #03A9F4;
}
.btn-sign {
    padding: 7px 13px;
    font-size: 11px;
    letter-spacing: 1.3px;
}
.btn-sign.register{
    border-radius: 5px;
    border: 1px solid #03a9f4;
    color: #03a9f4;
}
.page{
    padding-top:20px;
    min-height: 350px;
}
.banner {
    padding: 0;
    margin-bottom: 15px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #eaeaea;
}
.banner .content{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: black;
    padding: 30px;
    width: 50%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 2;
}
.banner .content .name{
    font-weight: bold;
    letter-spacing: 1.4px;
    margin: 0;
}
.banner .content .price{
    font-size: 32px;
    font-weight: bold;
    color: red;
    margin: 0;
}
.banner .content .discount{
    font-size: 15px;
    padding: 5px 10px;
    background: #03a9f4;
    display: inline;
    border-radius: 30px;
    color: white;
}
.banner .image{
    position: relative;
    height: 320px;
}
.banner .image img{
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;
}
.banner .image:before{
    position: absolute;
    content: '';
    background: linear-gradient(90deg,white, #ffffff00);
    width: 50%;
    height: 100%;
}
.owl-carousel .owl-dots{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.owl-carousel .owl-dots .owl-dot.active span{
    background: #03a9f4!important;
}
.owl-carousel .owl-dots .owl-dot span{
    background: #ffffff87!important;
}
.banner-request{
    padding: 0;
}
.box-request {
    height: 320px;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #ececec;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #e6e6e69c;
}
.box-request img{
    height: 150px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}
.box-request p.desc{
    font-size: 12px;
    color: gray;
}
.box-request a{
    font-size: 12px;
    color: white;
    text-align: center;
    background: #03a9f4;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 15px;
    display: table;
}
.box-request a:hover{
    text-decoration: none;
}
.keranjang, .kategori{
    position: relative;
}
.keranjang:hover .keranjang-box{
    display: block;
}
.keranjang-box, .kategori-box {
    display: none;
    position: absolute;
    background: white;
    margin-top: 9px;
    z-index: 1000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 7px 11px rgba(0,0,0,0.1);
}
.keranjang-box a.btn{
    background: #FF5722;
    color: white;
    padding: 3px 9px;
    font-size: 12px;
    margin-top: 10px;
}
.kategori:hover .kategori-box{
    display: block;
}
.keranjang-box{
    min-width: 180px;
    padding: 10px;
    right: 0;
    font-size: 12px;
    color: gray;
    text-align: right;
}
.kategori-box {
    width: 200px;
}
.kategori .kategori-box:hover + .kategori-list{
    display: block;
}
.kategori-list{
    display: none;
    position: absolute;
    padding: 10px;
    min-width: 600px;
    margin-left: 200px;
    background: white;
    margin-top: 9px;
    z-index: 1000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
footer{
    border-top: 1px solid #e4e4e4;
    padding: 30px 0;
}
ul.nav-bottom {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.nav-bottom .head-title{
    font-weight: bold;
    margin-bottom: 10px;
}
ul.nav-bottom li{
    padding: 0;
    margin: 0;
    line-height: 1.7;
}
ul.nav-bottom li a{
    font-size: 12px;
    color: gray;
    letter-spacing: 1.2px;
    display: block;
}
ul.nav-bottom li a:hover{
    text-decoration: none;
    color: #03a9f4;
}
.produk-terbaru {
    margin-bottom: 15px;
    position: relative;
}
.produk-terbaru .produk-box{
    border: 1px solid #e3e3e3;
    padding: 0;
    margin: 5px;
}
.produk-terbaru .produk-box:hover{
    box-shadow: 3px 3px 5px #80808059;
    transform: translateY(-5px);
}
.produk-terbaru .produk-box .image{
    height: 210px;
    overflow: hidden;
    background: #f0f0f0;
    position: relative;
}
.produk-terbaru .produk-box .image img{
    object-fit: cover;
}
.produk-terbaru .produk-box .image span{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    border-radius: 15px;
    background: red;
    padding: 3px 10px;
    font-size: 12px;
    color: white;
}
.produk-terbaru .produk-box .desc{
    padding: 10px;
}
.produk-terbaru .produk-box .desc .title{
    line-height: 1.2;
    font-size: 13px;
    height: 15px;
}
.produk-terbaru .produk-box .desc .price-ori{
    font-size: 13px;
    text-decoration:line-through;
    color: gray;
    margin: 0;
}
.produk-terbaru .produk-box .desc .price-discount{
    font-size: 17px;
    font-weight: bold;
    color: red;
    margin: 0;
}
.banner-bukatoko{
    background: #f8f8f8;
}
.banner-bukatoko .content{
    line-height: 1;
    padding: 10px;
}
.banner-bukatoko .content a{
    color: white;
    font-size: 12px;
    border-radius: 15px;
    background: #03a9f4;
    display: inline-table;
    padding: 3px 10px;
}
.box-merchan {
    overflow: hidden;
    position: relative;
    height:300px;
}
.box-merchan img{
    object-fit:cover;
    height: 300px;
}
.box-merchan .content{
    position: absolute;
    font-size: 12px;
    padding: 10px 15px;
    line-height: 1;
    background: #f8f8f8;
    left: 5%;
    width: 90%;
    bottom: -70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: bottom .5s ease;
}
.box-merchan .item:hover .content{
    bottom: 0;
    transition: bottom .5s ease;
}
.box-merchan .content .name{
    font-size: 16px;
    font-weight: bold;
}
.box-merchan .content .desc{
    letter-spacing: 1.1px;
    margin-bottom:5px;
}
.box-merchan .content .city{
    border-radius: 15px;
    margin: 0;
    background: #FF9800;
    display: inline-block;
    padding: 3px 7px;
    color: white;
}
.product-view .carousel-inner{
    position: relative;
}
.product-view .carousel-inner .carousel-item{
    height: 350px;
    width: 100%;
    overflow: hidden;
    background: blue;
}
.product-view .carousel-inner .carousel-item img{
    object-fit: cover;
    height: 100%;
    object-position: center center;
}
.product-view .carousel-indicators {
    position: relative;
    bottom: 0;
    padding: 5px;
}
.product-view .carousel-indicators li{
    height: 60px;
    width: 80px;
    overflow: hidden;
    background: red;
}
.product-view .carousel-indicators li img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center center;
}
.product-view .magnefier-cursor {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgsource{
    display: block;
}
.thumbnails {
	overflow: hidden;
	margin: 1em 0;
	padding: 0;
	text-align: center;
}

.thumbnails li {
	display: inline-block;
	width: 20%;
	margin: 0 5px;
}

.thumbnails img {
	display: block;
	min-width: 100%;
	max-width: 100%;
}
.easyzoom {
    width: 100%;
    overflow: hidden;
}
.tabs-produk{
    padding: 30px 0;
}
.tabs-produk input {
    display: none;
}

.tabs-produk label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #abc;
    border: 1px solid transparent;
}

.tabs-produk label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

.tabs-produk label[for*='1']:before { content: '\f1cb'; }
.tabs-produk label[for*='2']:before { content: '\f17d'; }
.tabs-produk label[for*='3']:before { content: '\f16c'; }

.tabs-produk label:hover {
    color: #789;
    cursor: pointer;
}

.tabs-produk input:checked + label {
    color: #0af;
    border: 1px solid #abc;
    border-top: 2px solid #0af;
    border-bottom: 1px solid #fff;
}
.tabs-produk section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #abc;
}
.tabs-produk #tab1:checked ~ #content1,
.tabs-produk #tab2:checked ~ #content2,
.tabs-produk #tab3:checked ~ #content3{
display: block;
}
.information-box {
    display: table;
    width: 100%;
    margin: 0;
    padding: 20px 0;
}
.information-box .price,
.information-box .share{
    display: inline-table;
    vertical-align: middle;
}
.information-box .price{
    width: 80%;
    color: #FF5722;
    font-weight: bold;
    font-size: 26px;
}
.information-box .price span{
    background: #FF5722;
    color: white;
    border-radius: 30px;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    cursor: default;
    vertical-align: middle;
}
.information-box .share{
    width: 20%;
    text-align: right;
}
.information-box .share a{
    border: 1px solid #b9b9b9;
    color: #b9b9b9;
    padding: 5px 15px;
    font-size: 12px;
}
.activity-box{
    padding: 25px 0;
    margin: 0;
    display: table;
    width: 100%;
    font-weight: bold;
    color: #8b8b8b;
}
.activity-box ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
}
.activity-box ul li{
    display: inline-block;
    width: 20%;
    font-size: 11px;
}
.activity-box ul li .box{
    display: table;
    padding: 10px 0;
    width: 100%;
}
.activity-box ul li .box i, .activity-box ul li .box .grid{
    display: table-cell;
    vertical-align: middle;
}
.activity-box ul li .box i{
    font-size: 23px;
    color: #bdbdbd;
}
.activity-box ul li .box .grid span{
    display: block;
}
.activity-box ul li .box .grid span.request{
    font-size: 10px;
    color: #bdbdbd;
    letter-spacing: 1.3px;
    font-weight: normal;
}
.nama-produk {
    font-size: 23px;
}
.transaction-box {
    display: table;
    width: 100%;
}
.transaction-box .quantity,
.transaction-box .note{
    display: inline-table;
    vertical-align: middle;
}
.transaction-box .quantity{
    width: 30%;
}
.transaction-box label{
    font-size: 13px;
}
.transaction-box .quantity .value{
    display: table;
    width: 90%;
}
.quantity .value .value-button{
    float: left;
    display: inline-table;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius:30px;
    box-shadow: 1px 1px 5px #80808078;
    margin: 2px;
    cursor: pointer;
    color: gray;
}
.quantity .value .value-button i{
    font-size: 12px;
}
.quantity .value input{
    float: left;
    display: inline-table;
    width: calc(100% - 68px);
    text-align: center;
    border: none;
    color: gray;
    line-height: 2;
}
.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.transaction-box .note{
    width: 70%;
}
.transaction-box .note input{
    width: 100%;
    display: block;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #bababa;
    padding: 0px 10px;
    line-height: 2;
}
.transaction-box .note input:focus{
    box-shadow: none;
}
.transaction-menu {
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}
.transaction-menu a.whislist{
    display: inline-table;
    width: 27%;
    color: #acacac;
    border-radius: 5px;
    border: 1px solid #acacac;
    text-align: center;
    margin: 2px;
    padding: 20px 0;
}
.transaction-menu a.buy,
.transaction-menu a.addcart{
    display: inline-table;
    width: 35%;
    margin: 2px;
    color: gray;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0;
}
.transaction-menu a.buy{
    border: 1px solid #FF5722;
    color: #FF5722;
}
.transaction-menu a.addcart{
    background: #FF5722;
    color: white;
}
.transaction-menu a:hover{
    text-decoration: none;
}
.promo-cashback-product {
    padding: 20px 0;
    font-size: 10px;
}
.promo-cashback-product p{
    margin-bottom: 5px;
}
.promo-cashback-product span{
    font-size: 12px;
    background: #ebebeb;
    color: #252525;
    display: block;
    padding: 10px;
    text-align: center;
    border: 1px dashed gray;
}
.merchan-box {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    font-size: 12px;
    color: gray;
}
.merchan-box img{
    object-fit: cover;
    width: 100%;
}
.merchan-box .name{
    text-align: center;
    font-weight: bold;
    display: block;
    font-size: 14px;
    padding: 10px;
    color: #03a9f4;
}
.merchan-box  i{
    display: block;
    font-size: 16px;
}
.merchan-box .place,
.merchan-box .create-time{
    text-align: center;
    margin-bottom: 10px;
}
.merchan-box a:hover{
    text-decoration: none;
}
.merchan-box a.chat,
.merchan-box a.follow{
    display: block;
    padding: 0;
    border-radius: 5px;
}
.merchan-box .message i{
    display: inline-block;
    font-size: 12px;
    width: 30px;
    padding: 10px;
    margin-right: 5px;
}
.merchan-box a.follow{
    margin-bottom: 5px;
    background: #03a9f4;
    color: white;
}
.merchan-box a.follow i{
    border-right: 1px solid white;
}
.merchan-box a.chat{
    border: 1px solid #8a8a8a;
    color: #8a8a8a;
}
.merchan-box a.chat i{
    border-right: 1px solid #8a8a8a;
}
.login-register-box {
    display: table;
    width: 100%;
    position: relative;
    vertical-align: middle;
    margin-bottom: 30px;
}
.banner-login {
    display: inline-table;
    text-align: center;
    font-size: 14px;
    width: 65%;
    vertical-align: middle;
}
.banner-login h3{
    font-size: 20px;
}
.daftar-box {
    display: inline-table;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 5px 20px 0px #0000002e;
    width: 35%;
    text-align: center;
    color: #838383;
    vertical-align: middle;
}
.daftar-box h2{
    font-size: 23px;
    color: #5a5a5a;
}
.daftar-box .sosmed-box{
    display: table;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.daftar-box .sosmed-box a.facebook-big,
.daftar-box .sosmed-box a.google-big,
.daftar-box .sosmed-box a.mobile-big{
    display: block;
    position: relative;
    color: gray;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 5px 0;
}
.daftar-box .sosmed-box a.facebook-big i,
.daftar-box .sosmed-box a.google-big i,
.daftar-box .sosmed-box a.mobile-big i{
    position: absolute;
    left: 10px;
    top: 15px;
}
.daftar-box .sosmed-box a{
    display: table-cell;
    width: 50%;
    padding: 10px;
    margin: 5px;
    color: white;
}
.daftar-box .sosmed-box a:hover{
    text-decoration: none;
}
.daftar-box .sosmed-box i{
    margin: 0 10px;
}
.daftar-box .sosmed-box a.facebook{
    background: #3F51B5;
    text-align: left;
}
.daftar-box .sosmed-box a.google{
    background: #F44336;
    text-align: right;
}
.daftar-box .devider{
    padding: 20px;
    position: relative;
    z-index: 2;
    margin: 0;
    display: block;
    font-size: 12px;
}
.daftar-box .devider:before{
    position: absolute;
    content: '';
    background: #d9d9d9;
    height: 1px;
    width: 30%;
    left: 0;
    top: 30px;
    z-index: 0;
}
.daftar-box .devider:after{
    position: absolute;
    content: '';
    background: #d9d9d9;
    height: 1px;
    width: 30%;
    right: 0;
    top: 30px;
    z-index: 0;
}
.daftar-box .form-group label{
    text-align: left;
    display: block;
    font-size: 12px;
}
.daftar-box .form-group .form-check-input{
    left: 20px;
}
.daftar-box form a{
    display: block;
    width: 100%;
    padding: 15px;
    background: #03a9f4!important;
    border: none;
    margin-bottom: 15px;
}
.daftar-box form a.forgot-password{
    background: transparent!important;
    font-size: 12px;
    padding: 0;
    text-align: right;
    color: #03a9f4!important;
}
.daftar-box a:hover{
    text-decoration: none!important;
}
.daftar-box .term{
    font-size: 12px;
}
.daftar-box .term span{
    display: block;
}
.verify-box {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 6px 12px 3px #0000001f;
    width: 30%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 14px;
}
.verify-box a.verify{
    display: block;
    background: #03a9f4;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}
.verify-box a:hover{
    text-decoration: none;
}
.verify-box .input{
    padding: 0 0 30px;
}
.verify-box .input input{
    width: 30px;
    border: none;
    background: #e6e6e6;
    color: #8f8f8f;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.buy-box {
    display: block;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 3px #00000014;
    margin-bottom: 30px;
}
.buy-box .headers,
.buy-box .lists{
    display: table;
    width: 100%;
}
.buy-box .headers{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}
.buy-box .lists .box1,
.buy-box .lists .box2,
.buy-box .lists .box3,
.buy-box .lists .box4{
    display: inline-table;
}
.buy-box .lists .box1{
    width: 20px;
    vertical-align: middle;
}
.buy-box .lists .box2{
    width: 100px;
}
.buy-box .lists .box3{
    width: calc(100% - 270px);
    padding: 0 10px;
    vertical-align: top;
}
.buy-box .lists .box4{
    width: 150px;
    vertical-align: middle;
}
.buy-desc {
    padding: 10px;
    box-shadow: 0px 5px 17px 3px #0000001f;
    border-radius: 5px;
}
.buy-desc p{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.buy-desc span{
    font-size: 12px;
}
.buy-desc label{
    text-align: right;
    display: inherit;
    font-size: 24px;
}
.buy-desc a{
    display: block;
    text-align: center;
    background: #03a9f4;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.buy-desc a.voucher-code{
    background: transparent;
    color: #e7400b;
    font-size: 12px;
    margin-bottom: 0;
}
.buy-desc a:hover{
    text-decoration: none;
}
.bokscube-modal {
    background: #00000061;
}
.bokscube-modal .modal-dialog{
    height: auto;
    background: white;
    border-radius: 10px;
    position: absolute;
    top:  50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%)!important;
    min-width: 500px;
    overflow: hidden;
}
.bokscube-modal .modal-dialog .modal-content{
    background: transparent;
}
.bokscube-modal .box{
    display: table;
    width: 100%;
}
.bokscube-modal label{
    font-size: 12px;
    margin: 0;
}
.banner-top {
    position: relative;
    display: table;
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin-bottom: 30px;
}
.banner-top img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.banner-top .center-middle-box{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 45%;
    text-align: center;
}
.banner-top .center-middle-box .input-group-text{
    background: #03a9f4;
    color: #fff;
}
.help-categories{
    display: table;
    width: 100%;
    text-align: center;
    border: 1px solid gray;
    padding: 20px;
    margin-bottom: 30px;
}
.help-categories p{
    padding-bottom: 20px;
    color: #795548;
    font-weight: bold;
}
.help-categories .box-category{
    display: table;
    width: 100%;
    position: relative;
    vertical-align: middle;
    text-align: center;
}
.help-categories .box-category .box{
    display: inline-table;
    width: 12.5%;
    font-size: 12px;
    cursor: pointer;
}
.help-categories .box-category .box i{
    margin: 0 auto;
    display: block;
    font-size: 28px;
    margin-bottom: 10px;
    color: #03a9f4;
}
.help-categories .box-category .box:hover i{
    transform: translateY(-5px);
}
.faq-box {
    width: 50%;
    display: table;
    padding: 30px 0;
    margin: 0 auto;
}
.faq-box i,
.faq-box a,
.faq-box .content{
    display: inline-table;
    vertical-align: middle;
}
.faq-box i{
    font-size: 58px;
    width: 15%;
    color: #03a9f4;
}
.faq-box a{
    font-size: 12px;
    width: 30%;
    text-align: center;
    background: #03a9f4;
    border-radius: 5px;
    padding: 15px 0;
    color: white;
}
.faq-box a:hover{
    text-decoration: none;
}
.faq-box .content{
    width: 55%;
    font-size: 12px;
    padding: 20px;
}
.faq-box .content p{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}